:root.theme-dark {
  --background: #000028;
  --accent: #ff0070;
  --text: #f1b2ce;
  --image: url("../images/cover-image-dark.png");
  --header: #db00ff;
}

.theme-dark .header__rec {
  display: flex;
}

.theme-dark .header__theme-menu-button,
.theme-dark .section-title {
  color: var(--accent);
}

.theme-dark .text-accent {
  color: var(--background);
}

.theme-dark .header::before,
.theme-dark .footer::before,
.theme-dark .header::after,
.theme-dark .footer::after,
.theme-dark .header__theme-menu-button,
.theme-dark .header__theme-menu-button:hover::after,
.theme-dark .header__theme-menu-button_active::after {
  border-color: var(--accent);
}